body {
  margin: 0;
  background-color: #f4f1ea;
  font-family: "Nunito", Arial, sans-serif;
  font-size: 16px;
}

#logo {
  float: left;
  text-decoration: none;
}

nav {
  overflow: hidden;
  height: auto;
  color: #ff5a5f;
}

nav ul li {
  color: #484848;
  font-size: 20px;
  list-style-type: none;
  float: right;
}

nav ul li a {
  color: #484848;
  text-align: center;
  padding: 14px 16px;
}

nav ul li a:hover {
  color: #000;
}

div.gallery:hover {
  border: 1px;
}

div.gallery img {
  width: 100%;
  height: auto;
  border-radius: 30px;
}

div.desc {
  padding: 15px;
  text-align: center;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: center;
  width: 60%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 60%;
    float: center;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.rrva-footer {
  color: #484848;
}
