@import url("https://fonts.googleapis.com/css?family=Nunito");

html {
  margin: 0;
  background-color: #f4f1ea;
  font-family: "Nunito", Arial, sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* Header styles */

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 10%;
  background-color: #f4f1ea;
  justify-content: space-between;
}

.logo {
  color: #ff5a5f;
  font-weight: 900;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav ul li {
  margin-left: 5px;
  margin-right: 5px;
}

nav ul li a {
  color: #484848;
  display: block;
  padding: 10px 20px;
  border-radius: 1px;
}

nav ul li a:hover {
  color: #000;
}

/* Content styles */

.content {
  display: flex;
  align-items: center;
}

h2 {
  text-align: center;
}

.image {
  width: 90%;
  flex-shrink: 0;
}

figcaption {
  text-align: center;
  font-style: italic;
}

.paragraph {
  width: 50%;
  margin-right: 10px;
}

ul.hike-list li {
  color: #000;
  font-size: 18px;
  line-height: 1.5;
}

ul.hike-list li:first-child {
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Footer styles */

.rrva-footer {
  padding: 20px;
  color: #484848;
  position: fixed;
  bottom: 0;
  width: 100%;
}
